<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <ul class="nav nav-pills">
            <li role="presentation">
              {{#link-to "images" }}Images{{/link-to}}
            </li>
            <li role="presentation">
              {{#link-to "groups" }}Groups{{/link-to}}
            </li>
            <li role="presentation">
              {{#link-to "sources" }}Sources{{/link-to}}
            </li>
        </ul>
    </div>
</nav>

<div class="container">
  {{outlet}}
</div>

